/simulation/*
!/simulation/*.asc
!/simulation/models/
/hardware/PCB_and_schematic/**/production/*
software/**/dist/*
software/**/build/*
software/**/.generated_files/*


software/ESP32-master-esphome/.vscode/c_cpp_properties.json
software/ESP32-master-esphome/.vscode/launch.json
/software/ESP32-master-esphome/.vscode
software/ESP32-master-esphome-test-module/.esphome/idedata/esp32-master-test.json
software/ESP32-master-esphome-test-module/.esphome/storage/esp32-master-test.yaml.json
software/ESP32-master-esphome-test-module/.vscode/settings.json
/software/ESP32-master-esphome-test-module/custom_components/itron/__pycache__
/software/ESP32-master-esphome-test-module/custom_components/pozyton_energy_meters/__pycache__
/software/ESP32-master-esphome-test-module/.esphome
software/ESP32-master-esphome-test-module/.esphome/storage/esp32-master-test.yaml.json
