/simulation/*
!/simulation/*.asc
!/simulation/models/
\hardware\PCB_and_schematic\Balancer\
\hardware\PCB_and_schematic\DC_line_measurment_module+Meter_probe\production\
\hardware\PCB_and_schematic\ESP\production\
\hardware\PCB_and_schematic\Misc_PCB\production\
\hardware\PCB_and_schematic\Power_tracking_heater\production\